<h3>New Dog Form</h3>

<%= form_tag dogs_path do %>
  <label>Name:</label><br>
  <%= text_field_tag :name %><br>

  <label>Age:</label><br>
  <%= text_field_tag :age %><br>

  <label>Motto:</label><br>
  <%= text_field_tag :motto %><br>

  <label>Breed:</label><br>
  <%= text_field_tag :breed %><br>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
<% end %>
